body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #38368C;
}
.container {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; /* 텍스트와 이미지를 세로로 배치 */
    align-items: center;
}
h1 img {
    width: 150px; /* 이미지 너비 설정 */
    height: auto; /* 비율 유지 */
    margin-bottom: 10px; /* 텍스트와의 간격 */
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}